In [20]:
import pandas as pd
from datetime import datetime

In [21]:
weather_data = pd.read_csv('../csv_downloads/weather_history.csv')

weather_data

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1551398400,2019-03-01 00:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,19.45,15.13,17.46,20.39,...,276,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
1,1551402000,2019-03-01 01:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,17.46,9.99,14.45,19.47,...,277,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
2,1551405600,2019-03-01 02:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,15.55,6.64,10.63,18.19,...,300,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
3,1551409200,2019-03-01 03:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,13.93,4.71,10.45,17.08,...,310,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1551412800,2019-03-01 04:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,13.26,6.42,6.31,16.00,...,285,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23417,1630436400,2021-08-31 19:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.85,78.85,75.76,82.11,...,165,0.25,NaN,NaN,NaN,20,500,Rain,light rain,10d
23418,1630440000,2021-08-31 20:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.55,78.35,76.48,81.72,...,82,0.25,NaN,NaN,NaN,20,500,Rain,light rain,10d
23419,1630443600,2021-08-31 21:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.51,78.22,75.45,80.74,...,115,0.25,NaN,NaN,NaN,40,500,Rain,light rain,10d
23420,1630447200,2021-08-31 22:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.40,78.10,75.45,81.32,...,130,0.25,NaN,NaN,NaN,40,500,Rain,light rain,10d
23421,1630450800,2021-08-31 23:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,77.18,76.86,74.28,79.18,...,111,0.25,NaN,NaN,NaN,40,500,Rain,light rain,10d

In [23]:
weather_data['dt_iso'] = pd.to_datetime(weather_data['dt_iso'].str[:-4]).dt.tz_localize(None)
weather_data.dtypes

dt                              int64
dt_iso                 datetime64[ns]
timezone                        int64
city_name                      object
lat                           float64
lon                           float64
temp                          float64
feels_like                    float64
temp_min                      float64
temp_max                      float64
pressure                        int64
sea_level                     float64
grnd_level                    float64
humidity                        int64
wind_speed                    float64
wind_deg                        int64
rain_1h                       float64
rain_3h                       float64
snow_1h                       float64
snow_3h                       float64
clouds_all                      int64
weather_id                      int64
weather_main                   object
weather_description            object
weather_icon                   object
dtype: object

In [4]:
weather_data

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1551398400,2019-03-01 00:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,19.45,15.13,17.46,20.39,...,276,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
1,1551402000,2019-03-01 01:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,17.46,9.99,14.45,19.47,...,277,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
2,1551405600,2019-03-01 02:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,15.55,6.64,10.63,18.19,...,300,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
3,1551409200,2019-03-01 03:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,13.93,4.71,10.45,17.08,...,310,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1551412800,2019-03-01 04:00:00 +0000 UTC,-21600,Minnehaha Falls,44.915331,-93.211001,13.26,6.42,6.31,16.00,...,285,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23417,1630436400,2021-08-31 19:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.85,78.85,75.76,82.11,...,165,0.25,NaN,NaN,NaN,20,500,Rain,light rain,10d
23418,1630440000,2021-08-31 20:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.55,78.35,76.48,81.72,...,82,0.25,NaN,NaN,NaN,20,500,Rain,light rain,10d
23419,1630443600,2021-08-31 21:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.51,78.22,75.45,80.74,...,115,0.25,NaN,NaN,NaN,40,500,Rain,light rain,10d
23420,1630447200,2021-08-31 22:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,78.40,78.10,75.45,81.32,...,130,0.25,NaN,NaN,NaN,40,500,Rain,light rain,10d
23421,1630450800,2021-08-31 23:00:00 +0000 UTC,-18000,Minnehaha Falls,44.915331,-93.211001,77.18,76.86,74.28,79.18,...,111,0.25,NaN,NaN,NaN,40,500,Rain,light rain,10d

In [18]:
# handled this above with a similar method
# weather_data['dt_iso'] = pd.to_datetime(weather_data['dt_iso'].str[:-13])

In [5]:
output_files = os.listdir('../csv_downloads/solar_output')
output_files

['19_production.csv', '21_production.csv', '20_production.csv']

In [6]:
def load_output(output_files):
    for file in output_files:
        yield(
            pd.read_csv('../csv_downloads/solar_output/' + file,
            ) 
        )

In [7]:
output_data = pd.concat(load_output(output_files))
output_data

                  Time  Energy (Wh)
0     03/22/2019 07:00          124
1     03/22/2019 08:00         1437
2     03/22/2019 09:00         2602
3     03/22/2019 10:00         4759
4     03/22/2019 11:00         6529
...                ...          ...
4994  12/31/2020 13:00            0
4995  12/31/2020 14:00            0
4996  12/31/2020 15:00            0
4997  12/31/2020 16:00            0
4998  12/31/2020 22:00            0

[12432 rows x 2 columns]

In [8]:
output_data['Time'] = pd.to_datetime(output_data['Time'])

In [19]:
merged_data = pd.merge(weather_data, output_data, left_on='dt_iso', right_on='Time')
merged_data.sort_values(by='dt_iso')

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,Time,Energy (Wh)
0,1553238000,2019-03-22 07:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,37.22,37.22,34.00,39.38,...,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2019-03-22 07:00:00,124
1,1553241600,2019-03-22 08:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,35.92,35.92,33.12,37.78,...,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2019-03-22 08:00:00,1437
2,1553245200,2019-03-22 09:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,34.81,31.32,31.14,37.45,...,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2019-03-22 09:00:00,2602
3,1553248800,2019-03-22 10:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,33.33,30.83,29.14,35.65,...,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2019-03-22 10:00:00,4759
4,1553252400,2019-03-22 11:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,31.68,31.68,26.58,34.61,...,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2019-03-22 11:00:00,6529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13141,1629921600,2021-08-25 20:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,83.35,84.52,80.51,86.38,...,NaN,NaN,NaN,20,801,Clouds,few clouds,02d,2021-08-25 20:00:00,0
13142,1629957600,2021-08-26 06:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,65.80,65.43,61.18,68.38,...,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,2021-08-26 06:00:00,9
13143,1629961200,2021-08-26 07:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,65.37,64.90,61.18,68.05,...,NaN,NaN,NaN,20,500,Rain,light rain,10n,2021-08-26 07:00:00,465
13144,1629964800,2021-08-26 08:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,64.44,63.91,59.34,66.49,...,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n,2021-08-26 08:00:00,1188
13145,1629968400,2021-08-26 09:00:00,-18000,Minnehaha Falls,44.915331,-93.211001,64.11,63.66,58.14,66.49,...,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,2021-08-26 09:00:00,1231

In [80]:
merged_data['month'] = merged_data['dt_iso'].dt.month
merged_data['day'] = merged_data['dt_iso'].dt.day
merged_data['hour'] = merged_data['dt_iso'].dt.hour

In [82]:
cols = [
    'Time',
    'month',
    'day',
    'hour',
    'Energy (Wh)',
    'temp',
    'feels_like',
    'pressure',
    'humidity',
    'wind_speed',
    'wind_deg',
    'rain_1h',
    'rain_3h',
    'snow_1h',
    'snow_3h',
    'clouds_all',
    'weather_id',
    'weather_main',
    'weather_description'
]

In [83]:
merged_data = merged_data[cols]
merged_data = merged_data.fillna(0)
merged_data

,Time,month,day,hour,Energy (Wh),temp,feels_like,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description
0,2019-03-22 07:00:00,3,22,7,124,37.22,37.22,1019,71,1.01,350,0.00,0.0,0.0,0.0,1,800,Clear,sky is clear
1,2019-03-22 08:00:00,3,22,8,1437,35.92,35.92,1020,72,1.01,344,0.00,0.0,0.0,0.0,1,800,Clear,sky is clear
2,2019-03-22 09:00:00,3,22,9,2602,34.81,31.32,1020,74,4.00,55,0.00,0.0,0.0,0.0,1,800,Clear,sky is clear
3,2019-03-22 10:00:00,3,22,10,4759,33.33,30.83,1020,77,3.00,31,0.00,0.0,0.0,0.0,1,800,Clear,sky is clear
4,2019-03-22 11:00:00,3,22,11,6529,31.68,31.68,1021,79,1.01,5,0.00,0.0,0.0,0.0,1,800,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13141,2021-08-25 20:00:00,8,25,20,0,83.35,84.52,1019,51,5.99,15,0.00,0.0,0.0,0.0,20,801,Clouds,few clouds
13142,2021-08-26 06:00:00,8,26,6,9,65.80,65.43,1021,71,3.44,10,0.00,0.0,0.0,0.0,20,801,Clouds,few clouds
13143,2021-08-26 07:00:00,8,26,7,465,65.37,64.90,1021,70,1.01,67,0.25,0.0,0.0,0.0,20,500,Rain,light rain
13144,2021-08-26 08:00:00,8,26,8,1188,64.44,63.91,1021,71,4.61,20,0.00,0.0,0.0,0.0,40,802,Clouds,scattered clouds
13145,2021-08-26 09:00:00,8,26,9,1231,64.11,63.66,1021,73,1.99,92,0.00,0.0,0.0,0.0,75,803,Clouds,broken clouds

In [84]:
merged_data.to_csv('../csv_downloads/merged_data_2.csv', index = False)