In [1]:
## Note: Step #8 (executing SVC from sklearn.svm) does not complete at this point in time. ##

import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [2]:
consolidated_data = pd.read_csv('../csv_downloads/merged_data.csv')
consolidated_data.head()

,Time,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M,Energy (Wh)
0,2020-09-01 06:00:00,2020,9,1,6,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33,0
1,2020-09-01 07:00:00,2020,9,1,7,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81,213
2,2020-09-01 08:00:00,2020,9,1,8,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18,622
3,2020-09-01 09:00:00,2020,9,1,9,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21,1104
4,2020-09-01 10:00:00,2020,9,1,10,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93,2455

In [3]:
target = consolidated_data["Energy (Wh)"]
target_names = ["negative", "positive"]

In [4]:
data = consolidated_data.drop("Energy (Wh)", axis=1)
feature_names = data.columns
data.head()

,Time,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M
0,2020-09-01 06:00:00,2020,9,1,6,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33
1,2020-09-01 07:00:00,2020,9,1,7,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81
2,2020-09-01 08:00:00,2020,9,1,8,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18
3,2020-09-01 09:00:00,2020,9,1,9,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21
4,2020-09-01 10:00:00,2020,9,1,10,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93

In [5]:
data2 = data.drop("Time", axis=1)
feature_names = data2.columns
data2.head()

,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M
0,2020,9,1,6,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33
1,2020,9,1,7,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81
2,2020,9,1,8,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18
3,2020,9,1,9,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21
4,2020,9,1,10,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93

In [6]:
data = data2.drop("year", axis=1)
feature_names = data.columns
data2 = data.drop("month", axis=1)
feature_names = data2.columns
data = data2.drop("day", axis=1)
feature_names = data.columns
data2 = data.drop("hour", axis=1)
feature_names = data2.columns
data2.head()

,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M
0,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33
1,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81
2,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18
3,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21
4,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data2, target, random_state=42)

In [ ]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

In [ ]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

In [12]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

0.09234234234234234